#titredisparition{
	font-family: 'Josefin Sans', sans-serif;
	color:white;
	padding-bottom:10vw;
	padding-top: 10vw;
	padding-left:20vw;
	padding-right: 20vw;
	font-size: 1.9em;
	top:-500px;
	position: fixed;
	background-color: #3E3947;
	animation: 4s ease-in-out 1 titredispa;
}

@keyframes titredispa{
	0% {
		transform: translateY(0);
	}
	45%{
		transform: translateY(500px);
	}
	50% {
		transform: translateY(500px);
	}
	55%{
		transform: translateY(500px);
	}
	100%{
		transform: translateY(0);
	} 
}

/*-----------------------------bouton top----------------------------------------*/
#gotop_bouton {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-size: 1.5em;
  border: none;
  outline: none;
  background-color: #333333;
  color: white;
  cursor: pointer;
  /*padding-bottom: 1vw;*/
  border-radius: 4px;
  width: 2%;
  height: 4%;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

#gotop_bouton:hover {
  background-color: #555;
}
/*---------------------2eme barre de navigation-----------------------------*/

#projet_navbar a{
	position: fixed;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px 0px 0px 5px;
    z-index:940;
}

#projet_navbar a:not(.petit_onglet){
	right: -80px;
}

.petit_onglet {
	right: -100px;
}


#projet_navbar  a:hover {
    background-color: white;
    right:0;
    color: black;
    opacity: 0.8;
}

#intro_onglet {
	top: 17%;
    background-color: #730A83;
    opacity: 0.6;
}

#contexte_onglet {
	top: 27%;
    background-color: green;
    opacity: 0.6;

}

#veine_a_pompe_onglet {
	top: 37%;
    background-color: #2D52CA;
    opacity: 0.6;

}

#veine_a_pompe_2_onglet{
	top: 50.5%;
    background-color: #1537A6;
    opacity: 0.6;

}

#veine_a_pompe_3_onglet{
	top: 60.5%;
    background-color: #1537A6;
    opacity: 0.6;

}

/*---------------------------projet--------------------------------*/

#projetbiomed span{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	color: red;
}

#intro{
	top:0;
	font-family: 'Comfortaa', cursive;
	font-size: 1.1em;
	display:block;
	background-color: #745360;
	z-index:940;
	padding-left: 20%;
	padding-top: 20%;
	padding-bottom: 15%;
	padding-right: 15%;
	text-align: justify;
	line-height: 1.7em;
	color: white;
}

.contexte{
	font-family: 'Comfortaa', cursive;
	font-size: 1em;
	display:block;
	background-color: #043B25;
	z-index:940;
	padding-left: 20%;
	padding-top: 2%;
	padding-bottom: 7%;
	padding-right: 15%;
	text-align: justify;
	line-height: 2.2em;
	color: white;
}

.veine_a_pompe{
	font-family: 'Comfortaa', cursive;
	font-size: 1em;
	display:block;
	background-color: #12023E;
	z-index:940;
	padding-left: 20%;
	padding-right: 15%;
	text-align: justify;
	line-height: 2.2em;
	color: white;
}


#veine_a_pompe_1 {
	padding-top: 20%;
	padding-bottom: 15%;
}

#veine_a_pompe_2 {
	padding-top: 2%;
	padding-bottom: 7%;
}

#veine_a_pompe_3 {
	padding-top: 10%;
	padding-bottom: 7%;
}